{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav class="main-menu-desktop d-none d-lg-block fixed-top bg-white w-100" role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
  <div class="container h-100">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</nav>
<header-nav>
  <template #menu>
    <nav class="position-absolute">
      {{ content }}
      <div class="footer-links">
        {{ drupal_menu('copyright') }}
      </div>
    </nav>
  </template>
</header-nav>