<div class="footer-copyright-inner d-flex flex-column flex-lg-row justify-content-between">
  <div class="footer-copyright-inner-menu">
    {{ content }}
  </div>
  <div class="footer-copyright-inner-info text-uppercase text-white mt-3 mt-lg-0">
    <p>&copy; {{ now|date('Y') }} | Hochriegl GMBH</p>
  </div>
</div>