// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$primary: #7F061A;
$secondary: #FAF3F0;


// Fonts
$enable-responsive-font-sizes: true;

$h1-font-size: 5.375rem;    // 86px
$h2-font-size: 2.625rem;    // 42px
$h3-font-size: 1.25rem;     // 20px

$font-p: 1.25rem;           // 20px

$font-micro: 0.8125rem;     // 13px
$font-sm: 0.9375rem;        // 15px
$font-md: 1rem;             // 16px
$font-lg: 1.0625rem;        // 17px
$font-xl: 1.5rem;           // 24px
$font-xxl: 2.625rem;        // 42px

// Typography
$font-family-sans-serif: futura-pt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4),
100: ($spacer * 6.25),
120: ($spacer * 7.5),
150: ($spacer * 10)
);