<template>
  <div class="container position-relative">
    <div
      ref="swiper"
      class="swiper-container"
    >
      <div class="swiper-wrapper">
        <slot name="slides" />
      </div>
      <div class="swiper-button swiper-button-prev" />
      <div class="swiper-button swiper-button-next" />
    </div>
  </div>
</template>
<script>
import Swiper, { Navigation } from 'swiper'

Swiper.use([Navigation])

export default {
  name: 'CrosssellingMobile',
  data() {
    return {
      swiper: undefined
    }
  },
  mounted() {
    this.swiper = new Swiper(this.$refs.swiper, {
      slidesPerView: 'auto',
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    })
  }
}
</script>
<style lang="scss">
@import '~swiper/swiper-bundle.css';
@import '~swiper/components/navigation/navigation.scss';
.crosselling-wrapper{
  .swiper-container{
    .swiper-slide{
      width: 50%;
    }
    .swiper-button{
    height: 60px;
    width: 60px;
    z-index: 100;
    opacity: 1;
    transition: opacity .3s ease, border .3s ease;
    &::after{
      font-size: 20px;
      transition: color .3s ease;
      color: $primary;
      @include media-breakpoint-up(lg){
        color: rgba($primary, 0.3);
      }
    }
    &-next{
      right: -1.5rem;
    }
    &-prev{
      left: -1.5rem;
    }
    &.swiper-button-disabled{
      opacity: 0;
    }
    @include hover-focus(){
      @include media-breakpoint-up(lg){
        border: 1px solid $primary;
        &::after{
          color: $primary;
        }
      }
    }
    }
  }
}
</style>
