<template>
  <div class="container position-relative">
    <div
      ref="swiper"
      class="swiper-container"
    >
      <div class="swiper-wrapper">
        <slot name="slides" />
      </div>
    </div>
    <div class="swiper-pagination" />
  </div>
</template>
<script>
import Swiper, { Pagination } from 'swiper'

Swiper.use([Pagination])

export default {
  name: 'GallerySlider',
  data() {
    return {
      swiper: undefined
    }
  },
  mounted() {
    this.swiper = new Swiper(this.$refs.swiper, {
      slidesPerView: 'auto',
      spaceBetween: 10,
      pagination: {
        el: this.$el.querySelector('.swiper-pagination')
      }
    })
  }
}
</script>
<style lang="scss">
@import '~swiper/swiper-bundle.css';
@import '~swiper/components/pagination/pagination.scss';
.element-gallery{
  .swiper-container{
    .swiper-slide{
      width: 100%;
      @include media-breakpoint-up(md){
        width: 50%;
      }
    }
  }
  .swiper-pagination{
    position: relative;
    width: 100%;
    &-bullet{
      width: 10px;
      height: 10px;
      margin: map-get($spacers, 3) map-get($spacers, 1);
      background: $primary;
      opacity: 1;
      &-active{
        background: $black;
      }
      &:first-of-type{
        margin-left: 0;
      }
    }
  }
}
</style>
