<template>
  <div class="main-menu-mobile d-flex d-lg-none fixed-top bg-white w-100 px-3">
    <a
      href="/"
      class="d-flex align-items-center menu-logo"
    >
      <app-image
        name="Logo"
      />
    </a>
    <div
      class="menu-btn mt-3"
      @click="toggleMenu()"
    >
      <div class="line line-top" />
      <div class="line line-mid" />
      <div class="line line-bot" />
    </div>
    <slot name="menu" />
  </div>
</template>
<script>
export default {
  name: 'HeaderNav',
  data() {
    return {
      items: undefined,
      mainMenu: undefined,
      submenus: undefined
    }
  },
  mounted() {
    this.mainMenu = document.querySelector('.main-menu-desktop')
    this.submenus = document.querySelectorAll('.menu-items-below')
    const isMobile = window.matchMedia('(max-width: 991px)')
    if (!isMobile.matches) {
      this.submenus.forEach((submenu) => {
        submenu.addEventListener('mouseenter', this.activeSubmenu)
      })
      this.submenus.forEach((submenu) => {
        submenu.addEventListener('mouseleave', this.closeSubmenu)
      })
    } else {
      this.submenus.forEach((submenu) => {
        submenu.addEventListener('click', this.mobileSubmenu)
      })
    }
    this.items = this.$el.querySelectorAll('li')
  },
  methods: {
    activeSubmenu(e) {
      e.currentTarget.children[1].classList.add('active-submenu')
      this.mainMenu.classList.add('active-submenu')
    },
    closeSubmenu(e) {
      e.currentTarget.children[1].classList.remove('active-submenu')
      this.mainMenu.classList.remove('active-submenu')
    },
    mobileSubmenu(e) {
      e.currentTarget.classList.toggle('active-submenu')
    },
    toggleMenu() {
      this.$el.classList.toggle('active')
    }
  }
}
</script>
<style lang="scss">
  .main-menu-mobile{
    z-index: 10000;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    .menu-logo{
      img{
        height: 40px;
      }
    }
    .menu-btn{
      height: 20px;
      width: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 2px;
      .line{
        width: 95%;
        height: 2px;
        background: $primary;
        position: absolute;
        transition: all .3s ease;
        &-top{
          top: 0;
        }
        &-mid {
          opacity: 1;
          top: 7px;
        }
        &-bot{
          top: 14px;
        }
      }
    }
    nav{
      top: 60px;
      left: 0;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      background: $white;
      transition: max-height .3s ease;
      ul{
        padding: map-get($spacers, 5) map-get($spacers, 3);
        width: 100%;
        height: 100vh;
        align-items: left;
        li{
          padding: map-get($spacers, 4) map-get($spacers, 3) !important;
          opacity: 1;
          transition: opacity .5s ease;
          border-top: 1px solid #707070;
          background: $white;
          position: relative;
          z-index: 10000;
          &:last-child{
            border-bottom: 1px solid #707070;
          }
          &:first-of-type{
            border: none;
          }
          &.hidden{
            opacity: 0;
          }
          a{
            text-transform: uppercase;
            font-weight: 600;
            @include font-size($font-xl);
            @include hover-focus(){
              text-decoration: none;
            }
          }
          ul{
            position: relative;
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height .5s ease;
            li{
              padding: map-get($spacers, 2) 0 !important;
              border: none !important;
              &:first-of-type{
                padding-top: map-get($spacers, 4) !important;
              }
              a{
                @include font-size(.9375rem);
                color: $black;
              }
            }
          }
          &.menu-items-below{
            position: relative;
            &::after{
              content: '';
              background-image: url('~@/assets/img/arrow-down.png');
              background-repeat: no-repeat;
              background-size: contain;
              position: absolute;
              top: 35px;
              right: 1rem;
              width: 15px;
              height: 15px;
              transition: transform .3s ease;
            }
            &.active-submenu{
              ul{
                max-height: 12rem;
              }
              &::after{
                top: 30px;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
    &.active{
      .menu-btn{
        .line{
          &-top{
            top: 5px;
            transform: rotate(45deg);
          }
          &-mid{
            opacity: 0;
          }
          &-bot{
            top: 5px;
            transform: rotate(-45deg);
          }
        }
      }
      nav{
        max-height: 100vh;
      }
    }
    .footer-links{
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 20rem;
      z-index: 10;
      ul{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        li{
          padding-top: 0 !important;
          border: none !important;
          a{
            @include font-size($font-micro);
            margin: 0 map-get($spacers, 2);
            color: $black;
          }
        }
      }
    }
  }
</style>
