<template>
  <div class="products-slider position-relative container mb-5 mb-lg-150">
    <div class="products-slider-filter d-none d-lg-flex">
      <div
        v-for="item in filterItems"
        :key="item"
        class="products-slider-filter-item px-2"
        :class="{'is-active': filter === item}"
        @click="setFilter(item)"
      >
        <p class="text-primary text-uppercase">
          {{ item }}
        </p>
      </div>
    </div>
    <div
      ref="swiper"
      class="swiper-container"
    >
      <div class="swiper-wrapper pb-3 py-lg-3 py-xl-5 d-flex flex-row">
        <div
          v-for="item in filtered"
          :key="item.counter"
          class="swiper-slide"
        >
          <a
            :href="item.view_node"
            class="d-flex flex-column"
          >
            <img
              :src="item.field_media_image"
              :alt="item.field_media_image_1"
              class="swiper-lazy"
            >
            <!-- eslint-disable -->
            <h3
              class="text-center mt-lg-n4 mx-auto"
              v-html="item.title"
            />
            <!-- eslint-enable -->
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-button swiper-button-prev" />
    <div class="swiper-button swiper-button-next" />
  </div>
</template>
<script>
import axios from 'axios'
import Swiper, { Lazy, Navigation } from 'swiper'

Swiper.use([Lazy, Navigation])

export default {
  name: 'ProductSlider',
  data() {
    return {
      items: undefined,
      filtered: undefined,
      filter: 'Ensemble',
      filterItems: undefined,
      swiper: undefined
    }
  },
  watch: {
    filter: {
      handler(filter) {
        if (filter) {
          const filteredItems = []
          this.items.forEach((item) => {
            if (item.field_productcategory.includes(filter)) {
              filteredItems.push(item)
            }
          })
          this.filtered = filteredItems
        } else {
          this.filtered = this.items
        }
      }
    }
  },
  mounted() {
    axios.get('/api/products')
      .then((response) => {
        this.items = response.data
        const filteredItems = []
        this.items.forEach((item) => {
          if (item.field_productcategory.includes(this.filter)) {
            filteredItems.push(item)
          }
        })
        this.filtered = filteredItems
      })
      .catch((error) => {
        console.log(error) // eslint-disable-line
      })
      .then(() => {
        const filters = []
        this.items.forEach((item) => {
          if (!filters.includes(item.field_productcategory)) {
            filters.push(item.field_productcategory)
          }
        })
        this.filterItems = filters
        this.buildSlider()
      })
  },
  methods: {
    buildSlider() {
      this.swiper = new Swiper(this.$refs.swiper, {
        watchSlidesVisibility: true,
        slidesPerView: 'auto',
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      })
    },
    setFilter(filter) {
      this.filter = filter
      this.swiper.slideTo(0)
    }
  }
}
</script>
<style lang="scss">
@import '~swiper/swiper-bundle.css';
@import '~swiper/components/navigation/navigation.scss';
@import '~swiper/components/lazy/lazy.scss';
.products-slider{
  @include media-breakpoint-up(lg){
    border: 1px solid rgba($primary, 0.3);
  }
  .products-slider-filter{
    position: absolute;
    width: 100%;
    top: -10px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    &-item{
      background: $white;
      cursor: pointer;
      p{
        font-size: $font-micro;
        color: rgba($primary, 0.5) !important;
        transition: color .3s ease;
      }
      &.is-active{
        p{
          color: rgba($primary, 1) !important;
          font-weight: 600;
        }
      }
      @include hover-focus(){
        p{
          color: rgba($primary, 1) !important;
        }
      }
    }
  }
  .swiper-container{
    .swiper-slide{
      width: 50%;
      @include media-breakpoint-down(md){
        max-height: 300px;
        img{
          width: 100%;
          height: 250px;
          object-fit: contain;
        }
      }
      @include media-breakpoint-up(lg){
        width: 20%;
        img{
          max-height: 380px;
          width: auto;
          object-fit: contain;
        }
      }
      h3{
        position: relative;
        width: fit-content;
        color: $black;
        text-transform: uppercase;
        transition: color .3s ease;
        @include font-size($font-micro);
        @include media-breakpoint-up(lg){
          @include font-size($font-lg);
          bottom: 0;
        }
        @include media-breakpoint-up(xl){
          bottom: -1.5rem;
        }
        // &::before{
        //   content: '';
        //   width: 0%;
        //   height: 3px;
        //   background: $primary;
        //   position: absolute;
        //   bottom: -5px;
        //   right: 0;
        //   transition: width .3s ease;
        // }
        // &::after{
        //   content: '';
        //   width: 0%;
        //   height: 2px;
        //   background: $primary;
        //   position: absolute;
        //   top: -5px;
        //   left: 0;
        //   transition: width .3s ease;
        // }
      }
      a{
        text-decoration: none;
      }
      @include hover-focus(){
        h3{
          color: $primary;
          // &::after, &::before{
          //   width: 100%;
          // }
        }
      }
    }
  }
  .swiper-button{
    height: 60px;
    width: 60px;
    z-index: 100;
    opacity: 1;
    transition: opacity .3s ease, border .3s ease;
    @include media-breakpoint-up(lg){
      border: 1px solid rgba($primary, 0.3);
      background: $white;
      border-radius: 50%;
    }
    &::after{
      font-size: 13px;
      transition: color .3s ease;
      color: $primary;
      @include media-breakpoint-up(lg){
        color: rgba($primary, 0.3);
      }
    }
    &-next{
      @include media-breakpoint-up(lg){
        right: -2rem;
      }
    }
    &-prev{
      @include media-breakpoint-up(lg){
        left: -2rem;
      }
    }
    &.swiper-button-disabled{
      opacity: 0;
    }
    @include hover-focus(){
      @include media-breakpoint-up(lg){
        border: 1px solid $primary;
        &::after{
          color: $primary;
        }
      }
    }
  }
}
</style>
