{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% if not eye_rendertron_is_bot() %}
<div{{ attributes.addClass(classes) }}>
  <div class="age-gate position-fixed fixed-top h-100 w-100 justify-content-center align-items-center">
    <div class="age-gate-bg-image">
      {% if content.field_bg_image %}
        {{ drupal_image(content.field_bg_image['#uri']) }}
      {% endif %}
    </div>
    <div class="age-gate-content container">
      <div class="age-gate-inner bg-white d-flex flex-column align-items-center justify-content-center pt-3 pb-5 px-5 mx-auto">
        <div class="age-gate-image">
          {% if content.field_image.0 %}
            {{ drupal_image(content.field_image.0.0) }}
          {% endif %}
        </div>
        <div class="age-gate-text">
          {{ content.field_text|raw }}
        </div>
        <div class="age-gate-buttons w-100 d-flex flex-column-reverse flex-md-row justify-content-between mt-3">
          <div class="age-gate-button-decline btn btn-primary w-100 w-md-50 mt-1 mt-md-0 mr-2">
            {{ "NO, I'm under 18"|t }}
          </div>
          <div class="age-gate-button-accept btn btn-secondary w-100 w-md-50">
            {{ "YES, I'm 18 or older"|t }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}