<link rel="apple-touch-icon" sizes="76x76" href="/themes/eyedea/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/themes/eyedea/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/themes/eyedea/favicons/favicon-16x16.png">
<link rel="manifest" href="/themes/eyedea/favicons/site.webmanifest">
<link rel="mask-icon" href="/themes/eyedea/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">