footer{
  .footer-logo{
    text-align: center;
    @include media-breakpoint-up(lg){
      text-align: left;
    }
  }
  .menu-footer{
    p{
      font-weight: 500;
      @include font-size(0.875rem);
    }
    ul{
      li{
        a{
          position: relative;
          color: $white;
          font-weight: 100;
          @include font-size($font-lg);
          display: block;
          width: fit-content;
          margin-bottom: map-get($spacers, 2);
          &::after{
            content: '';
            width: 0;
            height: 1px;
            background: $white;
            position: absolute;
            bottom: -1px;
            left: 0;
            transition: width .3s ease;
          }
          @include hover-focus(){
            text-decoration: none;
            &::after{
              width: 100%;
            }
          }    
        }
      }
    }
  }
  .footer-social{
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(lg){
      justify-content: flex-end;
    }
    a{
      opacity: 1;
      transition: opacity .3s ease;
      @include media-breakpoint-up(lg){
        opacity: .6;
      }
      @include hover-focus(){
        opacity: 1;
      }
    }
    svg {
      fill: white;
      margin: 0 0.3rem;
    }
  }
  .footer-copyright{
    p{
      font-weight: 100;
      @include media-breakpoint-up(lg){
        font-weight: normal;
      }
    }
    @include media-breakpoint-up(lg){
      border-top: 1px solid $black;
    }
    &-inner{
      align-items: center;
      padding: 1rem 0;
      ul{
        align-items: center;
        margin: 0;
        li{
          @include media-breakpoint-up(lg){
            margin-right: map-get($spacers, 3);
          }
          a{
            color: $white;
            text-transform: uppercase;
            font-weight: 100;
            @include font-size($font-micro);
            position: relative;
            @include media-breakpoint-up(lg){
              font-weight: normal;
            }
            &::after{
              content: '';
              width: 0;
              height: 1px;
              background: $white;
              position: absolute;
              bottom: -1px;
              left: 0;
              transition: width .3s ease;
            }
            @include hover-focus(){
              text-decoration: none;
              &::after{
                width: 100%;
              }
            }  
          }
        }
      }
      &-info{
        @include font-size($font-micro);
      }
    }
  }
}