header{
  nav.main-menu-desktop{
    height: 125px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    transition: max-height .3s ease;
    &::after{
      content: '';
      position: absolute;
      background: $white;
      height: 150px;
      max-height: 0;
      width: 100%;
      top: 125px;
      transition: max-height .3s ease;
      left: 0;
    }
    &.active-submenu{
      &::after{
        max-height: 150px;
      }
    }
    ul{
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      li{
        position: relative;
        margin: map-get($spacers, 5) map-get($spacers, 2) 0;
        @include media-breakpoint-up(xl){
          margin: map-get($spacers, 5) map-get($spacers, 3) 0;
        }
        @media only screen and (min-width: 1600px){
          margin: map-get($spacers, 5) map-get($spacers, 5) 0;
        }
        a{
          color: rgba($primary, .5);
          text-transform: uppercase;
          position: relative;
          z-index: 10000;
          font-weight: 600;
          @include font-size($font-micro);
          @include media-breakpoint-up(xl){
            @include font-size(0.9375rem);
          }
        }
        &:after{
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 3px;
          border-bottom: solid 2px $primary;
          transform: scaleX(0);  
          transition: transform .3s ease;
        }
        &::before{
          content: '';
          position: absolute;
          bottom: -26px;
          height: 40px;
          width: 100%;
        }
        @include hover-focus(){
          a{
            text-decoration: none;
            color: $primary;
          }
          &:after{
            transform: scaleX(1);
          }
        }
        ul{
          position: absolute;
          top: 6rem;
          left: 0;
          align-items: flex-start;
          opacity: 0;
          transition: opacity .3s ease;
          z-index: 100;
          &.active-submenu{
            opacity: 1;
          }
          li{
            margin: 0;
            padding: map-get($spacers, 1) 0;
            opacity: .5;
            transition: opacity .3s ease;
            &::after{
              bottom: 0;
            }
            @include hover-focus(){
              opacity: 1;
            }
            a{
              white-space: nowrap;
            }
          }
        }
      }
      img{
      }
    }
  }
}