.age-gate{
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);
  display: none;
  z-index: 2147483641;
  &-inner{
    max-width: 500px;
    position: relative;
  }
  &-image{
    padding-bottom: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 4);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    text-align: center;
  }
  &-text{
    text-align: center;
    h2{
      text-transform: uppercase;
      font-size: $font-md;
      margin-bottom: map-get($spacers, 4);
    }
  }
  &-bg-image{
    position: absolute;
    top: 0;
    left: 0;
    img{
      height: 100vh;
      width: 100vw;
      object-fit: cover;
    }
  }
  .age-gate-buttons{
    .age-gate-button-decline, .age-gate-button-accept{
      height: 45px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-sm;
      &.btn.btn-primary{
        background-color: $secondary;
        border-color: $secondary;
        color: $primary;
        transition: background-color .3s ease;
        @include hover-focus(){
          background-color: darken($secondary, 15%);
        }
      }
      &.btn.btn-secondary{
        background-color: $primary;
        border-color: $primary;
        color: $white;
        transition: background-color .3s ease;
        @include hover-focus(){
          background-color: lighten($primary, 15%);
        }
      }
    }
  }
}
