.gradient-bg {
  height: 100vh;
  width: 100vw;
  @include media-breakpoint-up(lg) {
    height: auto;
    width: 100vw;
  }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  img {
    width: 100vw;
    height: auto;
    @include media-breakpoint-up(lg) {
      width: 100vw;
      height: auto;
    }
    object-fit: cover;
    object-position: center;
  }
}