.product{
 .crosselling-wrapper{
   h2.text-uppercase{
     position: relative;
     width: fit-content;
     @include font-size($font-md);
    &::before{
      content: '';
      width: 100%;
      height: 1px;
      background: $black;
      position: absolute;
      bottom: -5px;
      right: 0;
    }
    &::after{
      content: '';
      width: 100%;
      height: 1px;
      background: $black;
      position: absolute;
      top: -5px;
      left: 0;
    }
   }
 } 
}
  .product-teaser{
    margin-top: map-get($spacers, 3);
    &-text{
      h3{
        position: relative;
        width: fit-content;
        color: $black;
        text-transform: uppercase;
        @include font-size($font-micro);
        @include media-breakpoint-up(lg){
          @include font-size($h3-font-size);
        }
      }
      p{
        @include font-size($font-micro);
        font-weight: 100;
        text-align: center;
        margin-bottom: 0;
        @include media-breakpoint-up(lg){
          @include font-size(1.3125rem);
        }
      }
      a{
        display: inline-block;
        margin: map-get($spacers, 3) auto 0;
        position: relative;
        border: 1px solid $black;
        color: $black;
        background: transparent;
        text-transform: uppercase;
        padding: map-get($spacers, 2);
        @include font-size($font-micro);
        z-index: 1000;
        transition: color .3s ease, background .3s ease;
        @include hover-focus(){
          text-decoration: none;
          background: $black;
          color: $white;
        }
      }
    }
  }