{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="list-unstyled position-relative d-flex flex-column flex-lg-row">
    {% else %}
      <ul class="list-unstyled d-flex flex-column">
    {% endif %}
    {% for item in items %}
      {% if loop.index == 4 and menu_level == 0 %}
        <a href="{{ url('<front>') }}" class="d-none d-lg-flex">
          <app-image name="Logo" class="mx-5"></app-image>
        </a>
        {% if item.below %}
          <li{{ item.attributes.addClass('menu-items-below') }}>
        {% else %}
          <li{{ item.attributes }}>
        {% endif %}
          {{ link(item.title, item.url) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% else %}
        {% if item.below %}
          <li{{ item.attributes.addClass('menu-items-below') }}>
        {% else %}
          <li{{ item.attributes }}>
        {% endif %}
          {{ link(item.title, item.url) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
