<article>
  <div class="product-teaser d-flex flex-column justify-content-center align-items-center">
    <div class="product-teaser-image">
      {{ content.field_product_teaser }}
    </div>
    <div class="product-teaser-text d-flex flex-column justify-content-center align-items-center">
      <h3 class="text-center mt-md-n3 mt-lg-n4 mx-auto">{{ label }}</h3>
      {{ content.field_teaser_text }}
      <a href="{{ url }}">
        mehr erfahren
      </a>
    </div>
  </div>
</article>