<article{{ attributes.addClass('product') }}>
  <div{{ content_attributes }}>
    {{ content.field_intro}}
    {{ content.field_elements}}
  </div>
  {% if content.field_cross_selling.0 %}
    <div class="crosselling-wrapper container mt-5 mt-lg-150">
      <div class="crossselling-headline col-12">
        <h2 class="text-uppercase text-center mx-auto">Mehr aus Hochriegl {{ content.field_productcategory }}</h3>
      </div>
      <div class="crossselling-products-desktop mt-lg-5 d-none d-lg-flex row">
        {% for item in content.field_cross_selling|children %}
          {% if loop.length < 4 %}
            <div class="col-lg-4">
              {{ item }}
            </div>
          {% else %}
            <div class="col-lg-3">
              {{ item }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="crossselling-products-mobile mt-3 d-block d-lg-none row">
        <crossselling-mobile>
          <template #slides>
            {% for item in content.field_cross_selling|children %}
              <div class="swiper-slide col-6">
                {{ item }}
              </div>
            {% endfor %}
          </template>
        </crossselling-mobile>
      </div>
    </div>
  {% endif %}
</article>