{%
  set classes = [
    'form-group',
    'js-form-item',
    'form-item',
    'js-form-type-' ~ type|clean_class,
    'form-item-' ~ name|clean_class,
    'js-form-item-' ~ name|clean_class,
    title_display not in ['after', 'before'] ? 'form-no-label',
    disabled == 'disabled' ? 'form-disabled',
    errors ? 'form-item--error',
    'custom-control custom-checkbox my-2'
  ]
%}
{%
  set description_classes = [
    'description',
    description_display == 'invisible' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ children }}
  {% if description is not empty %}
    <label class="custom-control-label field-suffix" for="{{ label['#id'] }}">{{ description.content }}</label>
  {% else %}
    {{ label }}
  {% endif %}
  {% if errors %}
    <div class="form-item--error-message font-micro text-danger pt-0">
      {{ errors }}
    </div>
  {% endif %}
</div>
