{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{# {%
  set classes = [
  'form-control',
  ]
%} #}
<input{{ attributes.addClass('btn btn-primary col-12 mt-2 font-weight-bold') }} />{{ children }}
