{% extends "paragraph.html.twig" %}
{% block content %}
  <div class="container pt-100 pt-lg-120">
    <div class="element-hero-text-wrapper d-flex flex-column justify-content-center align-items-center">
      <div class="element-hero-text-wrapper-inner col-12 col-lg-10 text-center">
        {{ content.field_text }}
      </div>
    </div>
  </div>
{% endblock %}