{% extends "paragraph.html.twig" %}
{% block content %}
  <div class="container">
    <div class="element-teaser-reihe-content d-flex flex-column justify-content-center align-items-center mt-6 mt-lg-150">
      <div class="element-teaser-reihe-content-items row">
        {% for item in content.field_items|children %}
          <div class="element-teaser-reihe-content-item col-12{% if content.field_grid_system.0['#markup'] == "two" %} col-lg-6{% else %} col-lg-4{% endif %}">
            {{ drupal_entity('paragraph', item['#paragraph'].id.value) }}   
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}