{% extends "paragraph.html.twig" %}
{% block content %}
  <div class="element-teaser-reihe-item-content bg-secondary">
    <div class="element-teaser-reihe-item-content-image">
      {{ content.field_media }}
    </div>
    <div class="element-teaser-reihe-item-content-text d-flex flex-column justify-content-center align-items-center py-5 p-lg-5">
      {{ content.field_text }}
      {{ content.field_link }}
    </div>
  </div>
{% endblock %}