{% extends "paragraph.html.twig" %}
{% block content %}
  <div class="container-full position-relative {% if content.field_no_margin.0['#markup'] == 'true'%}mb-n5{% else %}mb-5 mb-xl-100{% endif %}">
    {{ content.field_media }}
      <div class="element-hero-text-content container position-absolute h-100">
        <div class="element-hero-text-content-inner h-100 d-flex justify-content-center align-items-center">
          {{ content.field_text }}
        </div>
      </div>
      <div class="element-hero-scroll-indicator">
        <div class="element-hero-scroll-indicator-inner mx-auto bg-white rounded-circle d-flex justify-content-center align-items-center">
          <app-icon name="ArrowDown"></app-icon>
        </div>
      </div>
  </div>
{% endblock %}