{% extends "paragraph.html.twig" %}
{% block content %}
  <div
    class="element-text-image-content mt-6 mt-lg-150 container position-relative d-flex {% if content.field_mirror.0['#markup'] != 'true' %}flex-row-reverse flex-lg-row {% else %}flex-row-reverse{% endif %}"
  >
    <div class="element-text-image-content-image d-none d-lg-block col-lg-6 px-lg-0">
      {{ content.field_media }}
    </div>
    <div class="element-text-image-content-image-center d-none d-lg-flex position-absolute">
      {{ content.field_centered_media }}
    </div>
    <div
      class="element-text-image-content-text position-relative {% if content.field_centered_media.0 %}col-10 col-md-11 {% else %}col-12 text-wide {% endif %}col-lg-6 py-5 py-lg-0 px-lg-0 {% if content.field_text_white.0['#markup'] == 'true' %}text-white {% endif %}d-flex flex-column justify-content-center align-items-center"
      style="background-color:{{ content.field_background.0 }};"
    >
      {% if content.field_tipp.0['#markup'] == 'true' %}
        <div class="tipp-flag text-white bg-primary text-uppercase rounded-circle d-flex position-absolute justify-content-center align-items-center">
          {{ 'Tipp'|t }}
        </div>
      {% endif %}
      {% if content.field_badge.0 %}
        <div class="badge position-absolute">
          {{ content.field_badge }}
        </div>
      {% endif %}
      {{ content.field_text }}
      {{ content.field_link }}
    </div>
    <div class="element-text-image-content-image-inline d-block d-lg-none">
      {{ content.field_centered_media }}
    </div>
  </div>
{% endblock %}
