<div class="element-gallery d-none d-lg-block container mt-6 mt-lg-150">
  <div class="row">
    {% for item in content.field_media_gallery|children %}
      <div class="col-lg-4">
        {{ item }}
      </div>
    {% endfor %}
  </div>
</div>
<div class="element-gallery d-block d-lg-none mt-5 mt-lg-150">
  <gallery-slider>
    <template #slides>
      {% for item in content.field_media_gallery|children %}
        <div class="swiper-slide">
          {{ item }}
        </div>
      {% endfor %}
    </template>
  </gallery-slider>
</div>