{% extends "paragraph.html.twig" %}
{% block content %}
<div class="element-hero-text product-intro pt-100 pt-lg-120">
  <div class="container">
    <div class="element-hero-text-wrapper d-flex flex-column justify-content-center align-items-center">
      <div class="element-hero-text-wrapper-inner col-12 col-lg-8 text-center">
        <p class="text-uppercase lines">{{ content.field_line_text }}</p>
        <h1 class="mb-0 mb-3 mb-lg-3">{{ content.field_headline }}</h1>
        <div class="element-hero-text-content-inner-image d-block d-lg-none mb-3">
          {{ content.field_centered_media }}
        </div>
        {{ content.field_text }}
      </div>
    </div>
  </div>
</div>
{% endblock %}