{% extends "paragraph.html.twig" %}
{% block content %}
  <div
    class="element-text-image-content mt-6 mt-lg-150 container position-relative d-flex {% if content.field_mirror.0['#markup'] != 'true' %}flex-row {% else %}flex-row-reverse{% endif %}"
  >
    <div class="element-text-image-content-image d-none d-lg-block col-lg-6 px-lg-0">
      {{ content.field_media }}
    </div>
    <div class="element-text-image-content-image-center d-none d-lg-flex position-absolute">
      {{ content.field_centered_media }}
    </div>
    <div 
      class="element-text-image-content-text position-relative col-12 col-lg-6 py-5 py-xl-3 px-lg-100 {% if content.field_text_white.0['#markup'] == 'true' %}text-white {% endif %}d-flex flex-column justify-content-center align-items-center"
      style="background-color:{{ content.field_background.0 }};"
    >
      {{ content.field_text }}
      {{ content.field_link }}
    </div>
  </div>
{% endblock %}