{% extends "paragraph.html.twig" %}
{% block content %}
  <div
    class="element-text-image-geschichte-content mt-6 mt-lg-150 container position-relative d-flex flex-column {% if content.field_mirror.0['#markup'] != 'true' %}flex-lg-row {% else %}flex-lg-row-reverse{% endif %}"
  >
    <div class="element-text-image-geschichte-content-image col-12 col-lg-6 px-0">
      {{ content.field_media }}
    </div>
    <div 
      class="element-text-image-geschichte-content-text position-relative col-12 col-lg-6 mt-5 mt-lg-0 d-flex flex-column px-0 p-lg-5"
    >
      {{ content.field_text }}
    </div>
  </div>
{% endblock %}