{% extends "paragraph.html.twig" %}
{% block content %}
  <div class="container">
    <div class="element-quote-content mt-6 mt-lg-150 d-flex flex-column justify-content-center align-items-center position-relative p-4 p-md-5 p-lg-100">
      {# <div class="element-quote-content-headline">
        {{ content.field_headline }}
      </div> #}
      {{ content.field_text }}
      <div class="element-quote-content-glas">
        <app-icon name="Glas"></app-icon>
      </div>
    </div>
  </div>
{% endblock %}