.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.local-tasks{
  z-index: 10;
}

body.toolbar-horizontal, body.toolbar-vertical{
  @include media-breakpoint-up(lg){
    .element-hero {
      margin-top: -135px;
    }
  }
  header#header-menu{
    top: 40px;
  }
  .toolbar-oriented .toolbar-bar{
    z-index: 1000000;
  }
  div[data-drupal-messages]{
    display: block;
  }
}
body.toolbar-tray-open.toolbar-horizontal {
  margin-top: 80px;
  nav.main-menu-desktop{
    top: 78px;
  }
  .local-tasks{
    top: 5rem;
    position: relative;
  }
}
html {
  overflow-x: hidden;
  max-width: 100vw;
}
body{
  main{
  margin-top: 60px;
    @include media-breakpoint-up(lg){
      margin-top: 125px;
    }
  }
  div[data-drupal-messages]{
    display: none;
  }
}
@include media-breakpoint-down(md){
  body{
    #toolbar-administration{
      display: none;
    }
  }
  body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{
    margin-left: 0 !important;
  }
}

#block-eyedea-local-tasks{
  display: none;
  @include media-breakpoint-up(lg){
    display: block;
    position: fixed;
    background: $primary;
    padding: 1.5rem 1rem;
    width: 15rem;
    height: auto;
    left: 0;
    top: 45%;
    box-shadow: 5px 0px 15px rgba(0,0,0,0.2);
    z-index: 100000;
    ul{
      li{
        list-style: none;
        margin-bottom: 0.8rem;
        a{
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
