@import '~swiper/swiper.scss';

.swiper {
  &-container {
    width: 100%;
    height: 100%;
  }
  &-slide {
    //
  }
  &-pagination {
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    &-bullet {
      position: relative;
      cursor: pointer;
      height: 8px;
      width: 8px;
      background-color: $primary;
      border-radius: 50%;
      margin: 0 map-get($spacers, 3);
      transition: box-shadow .3s ease;
      @include media-breakpoint-up(md){
        height: 10px;
        width: 10px;
      }
      @include hover-focus(){
        box-shadow: 0 0 0 10px rgba($primary, .25);
      }
      &:after {
        content: "";
        opacity: 0;
        transition: opacity .5s ease;
        border-radius: 50%;
        border: 2px solid $primary;;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -5px;
        top: -5px;
        z-index: 1;
        @include media-breakpoint-up(md){
          width: 30px;
          height: 30px;
          left: -10px;
          top: -10px;
        }
      }
      &-active {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &-button-next, &-button-prev {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow .3s ease;
    @include hover-focus(){
      box-shadow: 0 0 3px $secondary;
    }
    &:after {
      content: "";
      background-image: url('~@/assets/img/arrow_right.png');
      width: 6px;
      height: 12px;
      display: inline-block;
    }
  }
  &-button-disabled {
    opacity: .5;
  }
  &-button-prev {
    &:after {
      transform: rotate(180deg);
    }
  }
}
// sizings
.element-slider{
  .swiper-container{
    .swiper-wrapper{
      .swiper-slide{
        @include media-breakpoint-up(lg){
          width: 33.34%;
        }
      }
    }
  }
}
