.element-contact{
  form{
    .form-actions{
      input{
        height: 55px;
        font-family: $font-family-sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all .3s ease;
        @include hover-focus(){
          background: $white;
          border: 1px solid $primary;
          color: $primary;
        }
      }
    }
    .webform-confirmation{
      p{
        font-size: $font-xl;
      }
    }
    .js-form-type-radios{
      margin-top: map-get($spacers, 3);
      label{
        // font-weight: 800;
        @include font-size(1.2rem);
      }
      .js-webform-radios{
        flex-direction: column;
        justify-content: space-between;
        margin-top: map-get($spacers, 2);
        // padding-right: map-get($spacers, 5);
        @include media-breakpoint-up(md){
          flex-direction: row;
        }
        .custom-radio{
          label{
            font-weight: $font-weight-normal;
            padding-top: 0;
          }
        }
      }
    }
    .js-webform-radios {
      display: flex;
      flex-direction: row;
      input.error + .custom-control-label::before{
        border: 1px solid $danger !important;
      }
      .custom-control {
        min-width: 75px;
        label {
          padding-top: 2.5px;
        }
      }
      .custom-control-input {
        accent-color: $primary;
        opacity: 1;
        top: 0;
      }
    }
  }
}