.element-hero{
  @include media-breakpoint-down(md){
    img{
      min-height: 450px;
      width: 100%;
      object-fit: cover;
    }
  }
  &-text-content{
    top:-1.5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    @include media-breakpoint-up(lg){
      top: -4rem;
    }
    &-inner{
      max-width: 800px;
      margin: 0 auto;
      h1{
        @include font-size(2.1875rem);
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        @include media-breakpoint-up(md){
          @include font-size(3.5rem);
          // font-weight: 400;
        }
        @include media-breakpoint-up(lg){
          font-weight: 400;
        }
        @include media-breakpoint-up(xl){
          @include font-size($h1-font-size);
          font-weight: 400;
        }
      }
    }
  }
  &-scroll-indicator{
    &-inner{
      position: relative;
      z-index: 100;
      top: -1.5rem;
      height: 55px;
      width: 55px;
      svg{
        width: 15px;
      }
      @include media-breakpoint-up(md){
        top: -2rem;
        height: 70px;
        width: 70px;
        svg{
          width: auto;
        }
      }
      @include media-breakpoint-up(lg){
        top: -2rem;
        height: 80px;
        width: 80px;
        svg{
          width: auto;
        }
      }
      @include media-breakpoint-up(xl){
        top: -2.5rem;
        height: 100px;
        width: 100px;
        svg{
          width: auto;
        }
      }
    }
  }
}