.element-hero-text{
  .element-hero-text-wrapper{
    p.text-uppercase.lines{
      position: relative;
      font-size: $font-micro;
      width: fit-content;
      margin: 0 auto map-get($spacers, 5);
      &::before{
        content: '';
        width: 100%;
        height: 1px;
        background: $black;
        position: absolute;
        bottom: -8px;
        right: 0;
        transition: width .3s ease;
      }
      &::after{
        content: '';
        width: 100%;
        height: 1px;
        background: $black;
        position: absolute;
        top: -8px;
        left: 0;
        transition: width .3s ease;
      }
    }
    h1{
      @include font-size(2.1875rem);
      margin-bottom: map-get($spacers, 4);
      color: $black;
      @include media-breakpoint-up(lg){
        @include font-size(3.5rem);
      }
      @media only screen and (min-width: 1600px){
        @include font-size($h1-font-size);
        margin-bottom: map-get($spacers, 5)
      }
    }
    p:not(.text-uppercase){
      @include font-size($font-p);
      font-weight: 200;
      @include media-breakpoint-up(lg){
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        @include font-size(1.875rem);
      }
    }
  }
}