.product-intro{
  .element-hero-text-content-inner{
    p:not(.text-uppercase){
      margin-bottom: 0;
      @include media-breakpoint-up(md){
        padding: 0 map-get($spacers, 100);
      }
    }
  }
  .element-hero-text-content-inner-image{
    max-height: 400px;
    img{
      height: 400px;
      width: auto;
      object-fit: contain;
    }
  }
}