.element-quote{
  &-content{
    border: 1px solid $primary;
    &-headline{
      background: $white;
      position: absolute;
      top: -10px;
      z-index: 10;
      font-size: $font-micro;
      padding: 0 map-get($spacers, 3);
    }
    p{
      @include font-size($font-xl);
      font-weight: 800;
      text-align: center;
      max-width: 750px;
      text-transform: uppercase;
      @include media-breakpoint-up(lg){
        @include font-size($h2-font-size);
      }
    }
    &-glas{
      background: $white;
      position: absolute;
      z-index: 10;
      bottom: -10px;
      font-size: $font-micro;
      padding: 0 map-get($spacers, 3);
      svg{
        height: 24px;
        width: 24px;
      }
      @include media-breakpoint-up(lg){
        bottom: -20px;
        svg{
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}