.element-teaser-reihe{
  &-content{
    .element-teaser-reihe-item{
      @include media-breakpoint-down(md){
        margin-bottom: map-get($spacers, 5);
      }
      &-content{
        &-text{
          p.text-uppercase.lines{
            position: relative;
            font-size: $font-micro;
            &::before{
              content: '';
              width: 100%;
              height: 1px;
              background: $black;
              position: absolute;
              bottom: -5px;
              right: 0;
              transition: width .3s ease;
            }
            &::after{
              content: '';
              width: 100%;
              height: 1px;
              background: $black;
              position: absolute;
              top: -5px;
              left: 0;
              transition: width .3s ease;
            }
          }
          h3{
            margin: map-get($spacers, 3) 0;
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            @include font-size($font-xl);
            @include media-breakpoint-up(lg){
              @include font-size($h3-font-size);
            }
          }
          p:not(.text-uppercase){
            font-weight: 200;
            text-align: center;
            @include font-size($font-sm);
            max-width: 300px;
            @include media-breakpoint-up(lg){
              max-width: 400px;
              @include font-size($h3-font-size);
            }
          }
          a{
            margin-top: map-get($spacers, 2);
            position: relative;
            border: 1px solid $black;
            color: $black;
            background: transparent;
            text-transform: uppercase;
            padding: map-get($spacers, 2);
            @include font-size($font-sm);
            z-index: 100;
            transition: color .3s ease, background .3s ease, border .3s ease;
            @include media-breakpoint-up(lg){
              margin-top: map-get($spacers, 4);
              padding: map-get($spacers, 3);
              @include font-size($font-lg);
            }
            @include hover-focus(){
              text-decoration: none;
              border: 1px solid $primary;
              background: $primary;
              color: $white;
            }
          }
        }
      }
    }
    .element-teaser-reihe-content-item.col-lg-4{
      .element-teaser-reihe-item-content-image{
        img{
          padding: map-get($spacers, 3);
          padding-bottom: 0;
        }
      }
      .element-teaser-reihe-item-content-text{
        padding-bottom: map-get($spacers, 4) !important;
      }
    }
  }
}