.element-text-image{
  @include media-breakpoint-up(lg){
    max-height: 735px;
  }
  &-content{
    &-image{
      img{
        width: 101%;
        height: 100%;
        object-fit: cover;
        @include media-breakpoint-up(lg){
          &.img-fluid{
            max-width: 101% !important;
          }
        }
      }
    }
    &-image-center{
      top: -2rem;
      left: 0;
      right: 0;
      height: 120%;
      margin-left: auto;
      margin-right: auto;
      z-index: 10;
      display: flex;
      justify-content: center;
      transform: rotate(7deg);
      transition: transform .5s ease;
      @include media-breakpoint-up(xl){
        top: -2.5rem;
      }
      @media only screen and (min-width: 1539px){
        top: -3.5rem;
      }
      picture{
        display: flex;
        justify-content: center;
        align-content: center;
      }
      img{
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
    .element-text-image-content-image-inline{
      position: absolute;
      top: -1rem;
      left: -3rem;
      width: 60%;
      height: 115%;
      @include media-breakpoint-up(md){
        top: -1rem;
        left: -2rem;
      }
      img {
        width: auto;
        height: 98%;
        object-fit: cover;
      }
    }
    &-text{
      .tipp-flag{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        top: -2.5em;
        right: 1rem;
        @include font-size($font-micro);
        @include media-breakpoint-up(md){
          right: 5rem;
        }
        @include media-breakpoint-up(xl){
          width: 135px;
          height: 135px;
          font-size: 1.6875rem;
          top: -2.5em;
          right: 5rem;
        }
      }
      .badge{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        top: -2.5em;
        left: 1rem;
        @include media-breakpoint-up(md){
          left: 5rem;
        }
        @include media-breakpoint-up(xl){
          width: 135px;
          height: 135px;
          font-size: 1.6875rem;
          top: -2.5em;
          left: 5rem;
        }
      }
      p, h2{
        color: $primary;
      }
      h2{
        margin: map-get($spacers, 3) 0;
        text-align: center;
        @include media-breakpoint-down(sm){
          max-width: 180px;
        }
        @include media-breakpoint-up(md){
          max-width: 250px;
        }
        @include media-breakpoint-up(xl){
          margin: map-get($spacers, 4) 0;
        }
      }
      p{
        max-width: 180px;
        font-weight: 100;
        @include font-size($font-sm);
        text-align: center;
        line-height: 1.5;
        margin-bottom: map-get($spacers, 2);
        @include media-breakpoint-up(md){
          max-width: 400px;
        }
        @include media-breakpoint-up(xl){
          @include  font-size($font-p);
          max-width: 470px;
        }
      }
      p.text-uppercase{
        font-size: $font-micro;
        font-weight: 600;
      }
      p.text-uppercase.lines{
        position: relative;
        font-size: $font-micro;
        &::before{
          content: '';
          width: 100%;
          height: 1px;
          background: $primary;
          position: absolute;
          bottom: -5px;
          right: 0;
          transition: width .3s ease;
        }
        &::after{
          content: '';
          width: 100%;
          height: 1px;
          background: $primary;
          position: absolute;
          top: -5px;
          left: 0;
          transition: width .3s ease;
        }
      }
      ul{
        @include list-unstyled();
        max-width: 92%;
        li{
          position: relative;
          left: 20px;
          margin: map-get($spacers, 2) 0;
          @include font-size($font-lg);
          font-weight: 200;
          @include media-breakpoint-up(lg){
            @include font-size($font-xl);
          }
          &::before{
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            background: $primary;
            top: 8px;
            left: -20px;
            border-radius: 50%;
            @include media-breakpoint-up(lg){
              top: 13px;
            }
          }
        }
      }
      table{
        margin-top: map-get($spacers, 3);
        border: none;
        @include media-breakpoint-up(xl){
          margin-top: map-get($spacers, 5);
        }
        tr{
          @include media-breakpoint-down(sm){
            display: flex;
            flex-direction: column;
          }
          td{
            border: none;
            padding: map-get($spacers, 1) map-get($spacers, 2);
            @include media-breakpoint-up(md){
              &:first-of-type{
                border-right: 1px solid rgba($primary, .4);
              }
              padding: 0 map-get($spacers, 3);
            }
            @include media-breakpoint-up(xl){
              padding: map-get($spacers, 3) map-get($spacers, 5);
            }
            p{
              font-weight: 400;
              text-transform: uppercase;
              &:first-of-type{
                font-weight: 100;
                font-size: $font-micro;
                margin-bottom: map-get($spacers, 2);
              }
            }
          }
        }
      }
      a{
        margin-top: map-get($spacers, 2);
        position: relative;
        @include font-size($font-micro);
        border: 1px solid $primary;
        color: $primary;
        background: transparent;
        text-transform: uppercase;
        padding: .8rem;
        z-index: 1000;
        transition: color .3s ease, background .3s ease;
        @include media-breakpoint-up(md){
          margin-top: map-get($spacers, 4);
        }
        @include media-breakpoint-up(xl){
          margin-top: map-get($spacers, 5);
          @include font-size($font-lg);
        }
        @include hover-focus(){
          text-decoration: none;
          background: $primary;
          color: $white;
        }
      }
      hr{
        width: 50%;
        height: 1px;
        background: rgba($primary, .6);
        margin: map-get($spacers, 3) auto map-get($spacers, 4);
      }
      &.text-white{
        p, h2{
          color: $white;
        }
        a{
          border: 1px solid $white;
          color: $white;
          @include hover-focus(){
            background: $white;
            color: $primary;
          }
        }
        p.text-uppercase.lines{
          &::before{
            background: $white;
          }
          &::after{
            background: $white;
          }
        }
        table{
          tr{
            td{
              @include media-breakpoint-up(md){
                &:first-of-type{
                  border-right: 1px solid rgba($white, .4);
                }
              }
            }
          }
        }
        hr{
          background: rgba($white, .3);
        }
      }
      &.text-wide{
        p, h2{
          max-width: 280px;
          @include media-breakpoint-up(md){
            max-width: 450px;
          }
          @include media-breakpoint-up(lg){
            max-width: 400px;
          }
        }
        p:not(.text-uppercase){
          @include media-breakpoint-down(sm){
            margin-bottom: map-get($spacers, 4);
          }
        }
      }
    }
    @include hover-focus(){
      .element-text-image-content-image-center{
        transform: rotate(0);
      }
    }
  }
}
.element-text-image-produkt{
  .element-text-image-content{
   &-text{
     p{
       @include media-breakpoint-down(md){
        max-width: 100%;
       }
     }
   }
  }
}
.element-text-image-geschichte-content{
  &-text{
    ul{
      @include list-unstyled();
      max-width: 92%;
      li{
        position: relative;
        left: 20px;
        margin: map-get($spacers, 2) 0;
        @include font-size($font-lg);
        font-weight: 200;
        @include media-breakpoint-up(lg){
          @include font-size($font-xl);
        }
        &::before{
          content: '';
          width: 10px;
          height: 10px;
          position: absolute;
          background: $primary;
          top: 8px;
          left: -20px;
          border-radius: 50%;
          @include media-breakpoint-up(lg){
            top: 13px;
          }
        }
      }
    }
    p, h2{
      @include media-breakpoint-up(lg){
        &.text-align-right{
          text-align: right;
        }
      }
    }
    h2{
      @include font-size($h3-font-size);
      text-transform: uppercase;
      margin-bottom: map-get($spacers, 3);
      @include media-breakpoint-up(lg){
        @include font-size(2rem !important);
      }
    }
    p{
      @include font-size($font-lg);
      margin-bottom: 0;
      font-weight: 100;
      @include media-breakpoint-up(lg){
        @include font-size($font-xl);
        margin-bottom: map-get($spacers, 3);
      }
    }
    p.text-uppercase{
      @include font-size(1.875rem !important);
      font-weight: 100;
      margin-bottom: map-get($spacers, 3);
      @include media-breakpoint-up(lg){
        margin-bottom: map-get($spacers, 4);
      }
    }
  }
  &.flex-row-reverse{
    .element-text-image-geschichte-content-text{
      p, h2{
        text-align: right;
      }
    }
  }
}
