.element-te{
  h2{
    text-transform: uppercase;
    @include font-size($h3-font-size);
    margin-bottom: map-get($spacers, 3);
    @include media-breakpoint-up(lg){
      @include font-size(2.215rem);
      margin-bottom: map-get($spacers, 5);
    }
  }
  p{
    @include font-size($font-lg);
    font-weight: 200;
    @include media-breakpoint-up(lg){
      @include font-size($font-xl);
    }
    @include media-breakpoint-down(md){
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    &.image-subline{
      @include font-size($font-lg);
      @include media-breakpoint-up(lg){
        @include font-size($h3-font-size);
      }
    }
    &.text-align-center{
      text-align: center;
      @include font-size($h3-font-size);
      padding: 0 map-get($spacers, 3);
      font-weight: 600;
      margin: map-get($spacers, 5) auto;
      @include media-breakpoint-up(lg){
        padding: 0 map-get($spacers, 100);
        @include font-size(1.875rem);
      }
    }
  }
  ul{
    @include list-unstyled();
    max-width: 92%;
    li{
      position: relative;
      left: 20px;
      margin: map-get($spacers, 2) 0;
      @include font-size($font-lg);
      font-weight: 200;
      @include media-breakpoint-up(lg){
        @include font-size($font-xl);
      }
      &::before{
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        background: $primary;
        top: 8px;
        left: -20px;
        border-radius: 50%;
        @include media-breakpoint-up(lg){
          top: 13px;
        }
      }
    }
  }
  table{
    max-width: 100%;
    tr{
      td{
        &:first-of-type{
          width: 75%;
        }
        p{
          padding: map-get($spacers, 2);
          margin: 0;
          font-size: $font-lg;
        }
      }
    }
  }
}