@media only screen and (min-width: 1400px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1400px;
  }
}

@media only screen and (min-width: 1920px) {
  main{
    max-width: 1920px;
    margin: 0 auto;
  }
  .container-full{
    max-width: 1920px;
  }
}

.text-container{
  @include media-breakpoint-up(lg){
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}