<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    {% if not eye_rendertron_is_bot() %}
    {# from eyedea_preprocess_html #}
      {{ _cookiebot }}
    {% endif %}
    <!-- Google Tag Manager --><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://data.hochriegl.at/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KVTN62P');</script><!-- End Google Tag Manager -->
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/wnw3lxt.css">
    {{ include(directory ~ "/templates/partials/favicons.html.twig") }}
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    {% if 'wine-spritz-gewinnspiel' in url('<current>')|render|render %}
      <!-- Snap Pixel Code -->
      <script type='text/javascript'> (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function() {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)}; a.queue=[];var s='script';r=t.createElement(s);r.async=!0; r.src=n;var u=t.getElementsByTagName(s)[0]; u.parentNode.insertBefore(r,u);})(window,document, 'https://sc-static.net/scevent.min.js');
      snaptr('init', '7fad3277-c2e4-4c35-9bfa-0b771ecc9ede', { 'user_email': '__INSERT_USER_EMAIL__' }); snaptr('track', 'PAGE_VIEW');
      </script>
      <!-- End Snap Pixel Code -->
    {% endif %}
  </head>
  <body{{ attributes }}>
    <!-- Google Tag Manager (noscript) --><noscript><iframe src="https://data.hochriegl.at/ns.html?id=GTM-KVTN62P"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
    <div id="app">
      {{ page_top }}
      {{ page }}
      {{ page_bottom }}
    </div>
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
