<header role="banner">
  {{ page.header }}
</header>
<main role="main">
  {{ page.content }}
</main>
<footer class="bg-primary mt-5 mt-lg-150 py-5" role="contentinfo">
  <div class="container d-flex flex-row flex-wrap">
    <div class="footer-logo col-12 col-lg-3">
      <app-image name="LogoWhite"></app-image>
    </div>
    <div class="footer-menus-wrapper d-none d-lg-flex col-lg-8 row">
      {{ page.footer }}
    </div>
    <div class="footer-social col-12 col-lg-1 mt-3 pr-lg-0">
      <a href="https://www.facebook.com/Hochriegl" target="_blank">
        <app-icon name="Facebook" size="24"></app-icon>
      </a>
      <a href="https://www.instagram.com/hochriegl.sekt/" target="_blank">
        <app-icon name="Instagram" size="26"></app-icon>
      </a>
      <a href="https://www.snapchat.com/add/hochriegl.sekt" target="_blank">
        <app-icon name="Snapchat" size="26"></app-icon>
      </a>
    </div>
  </div>
  <div class="footer-copyright mt-lg-5">
      <div class="container">
        {{ page.footer_copyright }}
      </div>
  </div>
</footer>
